@model List<Profesor>
@foreach(var profesor in Model) {
  <main role="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2"></div>
          <div class="col-8">
            <div class="row">
              
              <div class="col-4 text-center">
                <img src="@profesor.Foto" class="card-img-top"height="200" width="40">
              </div>
            
              <div class="col-8">
                <h3>Datos: </h3>
                <h5>Nombre: @profesor.Nombre</h5>
                <h5>Edad: @profesor.Edad</h5>
                <h5>Correo: @profesor.correo</h5>
                <h5>Años de experiencia: @profesor.AniosExperiencia</h5>            
                
                <a  asp-controller = "IndexInside" asp-action="RegistroVoto"> <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Califica a este profesor</button></a>            
                </div>              

              <div class="">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  
			          </div>                  
              </div>    
                
              
              
            </div class="row">
            <div>
            <h5>Calificación general: </h5>
            </div>
            
            <h3>Estadisticas:</h3>
          
              
                <div class="progress mb-2">
                  <div class="progress-bar " role="progressbar" style="width: 75%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                
                <h5>Calificación Enseñanza</h5>
                <div class="progress mb-2">
                  <div class="progress-bar " role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                  
                <h5>Calificación Como evalua</h5>                           
                <div class="progress mb-2">
                  <div class="progress-bar " role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                  
                <h5>Calificación Que tan buena gente es</h5>
                <div class="progress mb-2">
                  <div class="progress-bar " role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                    
                <div class="border border-secondary">
                        los comentarios apareceran aqui
                </div>
              
                <form>
                  <div class="form-group">
                    <label for="comentario">Ingresa un comentario</label>
                    <input type="text" class="form-control" id="comentario" placeholder="Recuerda comentar educadamente"/></div>
                  <button type="submit" class="btn btn-primary">Comentar</button>

                </form>

          </div>
        <div class="col-2"></div>
      </div>     
    </div>      
  </main>
}